body {
  font-family: arial;
  background: #f0f0f0;
  font-size: 15px;
}

h1 {
  font-size: 1.5em;
}

h3 {
  font-size: 0.8em;
}

#nav {
  display: flex;
  width: 100%;
  padding: 1em 0;
  margin: 0 auto;
  text-align: center;
}

ul {
  list-style: none;
  display: flex;
  width: 100%;
  color: white;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
  border: solid 2px black;
  margin: 0;
  padding: 0;
  font-size: 0.75em;
  font-weight: bold;
}

.myActive {
  background: darkblue;
}

#choiceNav,
#factorNav,
#calcNav {
  color: white;
}

li {
  background: grey;
  display: flex;
  justify-content: center;
  border-radius: 25px;
  text-align: center;
  width: 20%;
  margin: 0.5em;
  padding: 0;
  border: solid 2px black;
  text-decoration: none;
  font-size: 0.9em;
}

#intro {
  text-align: center;
  width: 100%;
}
#preview {
  width: 100%;
  margin: 0 auto;
}

#previewTable {
  background: white;
  width: 100%;
  margin-top: 20px;
  table-layout: fixed;
  font-size: 0.7em;
}

#choiceLabel,
#weightingLabel,
#factorLabel {
  font-weight: bold;
}

#choiceSection {
  display: none;
}

.sec {
  max-height: 35%;
  background: white;
  max-width: 90%;
  padding: 5px;
  margin: 0 auto;
  text-align: center;
  font-size: 1em;
}

#cont {
  width: 90%;
  max-width: 650px;
  border: solid 2px black;
  margin: 0 auto;
}

#winner {
  font-size: 50px;
  color: green;
  font-weight: 300px;
}

.w {
  font-size: 7px;
}

#b {
  color: black;
  font-weight: 900;
}

i {
  font-size: 20px;
}

#factorSection {
  display: none;
  font-size: 1em;
}

#start {
  font-weight: 700;
  font-size: 10px;
}

#calculateSection {
  display: none;
  font-size: 1em;
}

button {
  margin: 10px;
  background: orange;
  font-weight: 300;
}

button:hover {
  background: darkgoldenrod;
}

#tableContainer {
  text-align: center;
  margin: 0 auto;
  display: none;
  width: 100%;
  padding: 5px;
}

table,
tr,
th {
  border: solid black 2px;
}
td {
  padding: 15px;
  border: solid 2px black;
  text-align: center;
}

#star {
  display: inline-block;
  border: solid 2px black;
  width: 100%;
  padding: 15px 30px;
  background: orange;
  box-sizing: border-box;
  color: white;
  margin-top: 10px;
}

.demo {
  text-align: center;
}

input {
  width: 70%;
  height: 30px;
  text-align: center;
  box-shadow: 5px 5px 5px grey;
  margin: 10px;
}

input:hover {
  border-color: red solid 2px;
}
